{% extends 'layout.html' %}

{% block content %}

<a href="/clientes/inserir">
    Novo Cliente
</a>

|

<a href="/clientes/procurar">
    Procurar
</a>

<br><br>

<table>

    <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Email</th>
        <th>Telefone</th>
        <th>Ações</th>
    </tr>

    {% for cliente in clientes %}

    <tr>

        <td>{{ cliente.id }}</td>
        <td>{{ cliente.nome }}</td>
        <td>{{ cliente.email }}</td>
        <td>{{ cliente.telefone }}</td>

        <td>

            <a href="/clientes/editar/{{ cliente.id }}">
                Editar
            </a>

            |

            <a href="/clientes/apagar/{{ cliente.id }}">
                Apagar
            </a>

        </td>

    </tr>

    {% endfor %}

</table>

{% endblock %}