{% extends 'layout.html' %}

{% block content %}

<form method="POST">

    <input type="text"
           name="nome"
           placeholder="Digite o nome">

    <button type="submit">
        Procurar
    </button>

</form>

<br>

<table>

    <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Email</th>
        <th>Telefone</th>
    </tr>

    {% for cliente in clientes %}

    <tr>

        <td>{{ cliente.id }}</td>
        <td>{{ cliente.nome }}</td>
        <td>{{ cliente.email }}</td>
        <td>{{ cliente.telefone }}</td>

    </tr>

    {% endfor %}

</table>

{% endblock %}